<!--<app-loading></app-loading>-->
<h3>Category Form</h3>
<!--<app-message></app-message>-->
<form [formGroup]="ngForm">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput
             placeholder="Category name"
             formControlName="title">
    </mat-form-field>
    <mat-slide-toggle labelPosition="before" color="primary" formControlName="isTop">isTop?</mat-slide-toggle>
    <span style="float: right"><mat-slide-toggle labelPosition="before" color="primary" formControlName="isHidden">isHidden?</mat-slide-toggle></span>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
    <button mat-raised-button
            (click)="onNoClick()">
      Back
    </button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="ngForm.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
