<div class="container">
  <mat-toolbar style="background-color: #29303B; color: white">
    <div fxFill fxLayout="row" fxLayoutAlign="left center">
      <span><button mat-icon-button (click)="home()" style="transform: scale(1.5)"><mat-icon>home</mat-icon></button></span>

      <span fxFlex="80" style="font-weight: 400; text-align: center">{{ course?.title }}</span>

      <span fxFlex="20" style="display: flex; justify-content: flex-end">
    <button mat-icon-button style="transform: scale(1.2)" color="accent" (click)="share()"><mat-icon>share</mat-icon></button>
    </span>
    </div>
  </mat-toolbar>
  <ng-container *ngIf="isHidden">
    <div class="show-button"><button mat-icon-button (click)="toggle()" color="accent" style="transform: scale(1.2); background-color: #888888" matTooltip="Course content"><mat-icon>arrow_back</mat-icon></button></div>
  </ng-container>
  <div fxFlext fxLayout="row">
    <div fxFlex="{{ isHidden ? 100: 75 }}">
      <div fxLayout="column">
<!--        <ng-container *ngIf="chapter">-->
<!--          <iframe *ngIf="getFileExt(chapter) !== 'mp4'" [src]="videoUrl" width="100%" height="640px" frameborder="0" allowfullscreen style="padding: 16px"></iframe>-->
<!--          <video *ngIf="getFileExt(chapter) === 'mp4'" [src]="videoUrl" width="100%" height="640px" style=" background-color: #1E1E1C" controls></video>-->
<!--        </ng-container>-->
        <div class="video-player-wrapper" *ngIf="currentVideo?.src.slice(currentVideo?.src.length - 3) === 'mp4'; else htmlPage">
          <vg-player  (onPlayerReady)="videoPlayerInit($event)">
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>

            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>

              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

              <vg-mute></vg-mute>
              <vg-volume></vg-volume>

              <vg-fullscreen></vg-fullscreen>
            </vg-controls>
            <video #media [vgMedia]="media" [src]="currentVideo?.src" id="singleVideo" preload="auto" crossorigin></video>
          </vg-player>

          <!--          <ul class="player-list">-->
          <!--            <li *ngFor="let vdo of videoItems; let $index = index"-->
          <!--                (click)="startPlaylistVdo(vdo, $index)" [class.selected]="vdo === currentVideo">-->
          <!--              {{ vdo.name }}-->
          <!--            </li>-->
<!--          </ul>-->
        </div>
        <ng-template #htmlPage>
          <iframe [src]="getSafeURL(currentVideo?.src)" width="98%" height="640px" frameborder="0" allowfullscreen style="padding: 16px"></iframe>
        </ng-template>
        <div>
          <mat-tab-group>
<!--            <mat-tab label="Search">Search</mat-tab>-->
            <mat-tab label="Overview">
              <app-course-overview [course]="course"></app-course-overview>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div fxFlex="{{ isHidden ? 0 : 25 }}">
      <ng-container *ngIf="!isHidden">
        <div fxLayout="row" fxLayoutAlign="left center" style="height: 56px">
          <div fxFlex="85" style="color: black; font-weight: 500; font-size: 1.1rem; margin: 0 0 0 16px">Course content</div>
          <div><button mat-icon-button (click)="toggle()"><mat-icon>close</mat-icon></button></div>
        </div>
        <div>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let lecture of chaptersArray; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500" (click)="getVideoItems(i)">
                  {{ lecture.title }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent *ngIf="lecture.chapters">
                <mat-nav-list>
                  <mat-list-item [routerLinkActive]="['active']" *ngFor="let chapter of lecture.chapters; let idx = index" (click)="startPlaylistVdo(chapter, idx)"
                                 [class.selected]="chapter === currentVideo" [class.selected]="chapter === currentVideo" [class.active]="activeIndex == idx">{{chapter.title }}
                    <span style="float: right" *ngIf="chapter">
                  <ng-container *ngIf="getFileExt(chapter) === 'mp4' && chapter.duration > 0" >{{ chapter.duration | number }} min</ng-container>
                  <ng-container *ngIf="getFileExt(chapter) === 'zip'"><button mat-icon-button style="color: gray"><mat-icon>attach_file</mat-icon></button></ng-container>
                  <ng-container *ngIf="getFileExt(chapter) === 'tml' || getFileExt(chapter) === 'pdf'"><button mat-icon-button style="color:gray"><mat-icon>description</mat-icon></button></ng-container>
                </span>
                  </mat-list-item>
                </mat-nav-list>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </ng-container>
    </div>
  </div>
</div>
