.mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  gap: 16px;
}

::ng-deep .mat-select-panel {
  background-color: #FBFBF8;
  color: darkslategray;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-form-field {
  width: 330px;
}

::ng-deep.mat-error .mat-warn {
  color: red;
}

::ng-deep.mat-form-field-label {
  color: darkgray !important;
}

::ng-deep .mat-focused {
  /*change color of label*/
  color: darkgray !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #1DB954 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #1DB954 !important;;
}

.mat-input-element {
  color: darkslategray;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: normal;

  padding: 0;
  margin: 0 12px 0 12px;
  list-style: none;
}

.course-flex-item {
  width: 100vw;
  height: 120px;
  border-radius: 4px;
  margin: 12px;
  border: 1px solid lightgray;
}


.titleTextArea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
}
