.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: normal;

  padding: 0;
  margin: 0 12px 0 12px;
  list-style: none;
}

.flex-item {
  width: 250px;
  height: 224px;
  border-radius: 4px;
  margin: 12px;
  border: 1px solid lightgray;
}

.mat-card {
  background-color: white;
  margin: 8px;
}

.titleTextArea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.container {
  height: 124px;
  position: relative;
  background-color: #505763;
  border-radius: 4px;
}

.preview {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tabPreview {
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mat-list {
  display: flex;
  flex-direction: row;
  width: 224px;
}

.mat-list-item {
  cursor: pointer;
  color: lightgray;
  font-weight: 300;
}

.highlight {
  color: white;
  font-weight: 400;
}
