.learning-container {
  display: flex;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0 12px 0 12px;
  list-style: none;
}

.flex-item {
  width: 250px;
  height: 224px;
  border-radius: 4px;
  margin: 12px;
  border: 1px solid lightgray;
}

.mat-card {
  background-color: white;
  margin: 8px;
}

.titleTextArea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 124px;
  background-color: #505763;
}

.div-center {
  color: white;
  margin: 0;
}

.mat-list {
  display: flex;
  flex-direction: row;
  width: 224px;
}

.mat-list-item {
  cursor: pointer;
  color: lightgray;
  font-weight: 300;
}

.highlight {
  color: white;
  font-weight: 400;
}
