.objTextArea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
  margin-left: 8px;
  resize: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
}
