<div style="margin: 16px">
  <div style="color: darkslategrey; font-weight: 500; margin-top: 16px; font-size: 2.25rem" *ngIf="category">{{ category.title }}</div>
  <div style="color: darkslategrey; font-size: 1.5rem; font-weight: 500; margin-top: 16px">Courses to get you started</div>
  <!--    Top course section-->
  <div fxLayout="row" fxLayoutAlign="center center" style="height: 340px; margin-top: 16px">
    <div>
      <div>
        <ng-container *ngIf="(topCourses$ | async) as courses">
          <ul class="flex-container" fxLayoutAlign="center center">
            <li class="flex-item" style="cursor: pointer" *ngFor="let course of courses | paginate: { id: 'pagination1', itemsPerPage: counter, currentPage: page }" (click)="onClick(course)">
              <img style="width: 100%" src="{{ base_url+course.photo }}" alt="{{ course.title }}">
              <div>
                <div fxLayout="column" fxLayoutGap="8px">
                  <textarea class="titleTextArea" rows="2" style="font-size: 1rem; font-weight: 500; color: darkslategray" readonly disabled>{{ course.title }}</textarea>
                  <mat-label style="color: gray; font-size: 0.9rem">Instructor: {{ course.instructor }}</mat-label>
                  <div style="font-size: 1rem; font-weight: 500; color: #1E1E1C">${{ getSalePrice(course) | number: '1.0-2' }}
                    <span style="text-decoration: line-through; color: darkslategray; float: right; font-weight: 400">${{ course.tuition | number: '1.0-2' }}</span></div>
                </div>
              </div>
            </li>
          </ul>
          <div fxLayoutAlign="center center" *ngIf="courses.length > counter"><pagination-controls id="pagination1" (pageChange)="page = $event"></pagination-controls></div>
        </ng-container>
      </div>
    </div>
  </div>
  <!--    Course list section-->
  <div style="color: darkslategrey; font-weight: 500; margin-top: 32px; font-size: 2.25rem">All Development Courses</div>
  <div style="margin-top: 16px">
    <ng-container *ngIf="(courses$ | async) as courses">
      <ul class="flex-container">
        <li class="course-flex-item" style="cursor: pointer" *ngFor="let course of courses | paginate: { id: 'pagination2', itemsPerPage: 5, currentPage: fPage }" (click)="onClick(course)">
          <div fxFlex="20" fxLayoutAlign="center left"><img width="100%" mat-card-image src="{{ base_url+course.photo }}" alt="{{ course.title }}"></div>
          <div fxFlex="70" fxLayout="column" fxLayoutAlign="center left" fxLayoutGap="8px" style="margin: 12px">
            <textarea class="titleTextArea" readonly disabled rows="1" style="font-size: 1.25rem; font-weight: 500; color: darkslategray">{{ course.title }}</textarea>
            <textarea class="titleTextArea" readonly disabled rows="2" style="font-size: 0.9rem;">{{ course.description }}</textarea>
            <div class="mat-card-subtitle">Brad Traversy</div>
            <div style="font-style: italic; font-size: 0.9rem">22 Sections * 155 lectures</div>
          </div>
          <div fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
            <div>${{ getSalePrice(course) | number: '1.0-2' }}</div>
            <div style="text-decoration: line-through; color: red">${{ course.tuition | number: '1.0-2' }}</div>
          </div>
        </li>
      </ul>
      <div fxLayoutAlign="center center" *ngIf="courses.length > 5"><pagination-controls id="pagination2" (pageChange)="fPage = $event"></pagination-controls></div>
    </ng-container>
  </div>
</div>
