.flex-item {
  width: 244px;
  height: 272px;
  border-radius: 4px;
  margin-right: 16px;
}

.item-container {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.course-flex-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /*min-width: 630px;*/
}

.course-flex-item {
  display: flex;
  flex-direction: row;
  height: 15vh;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 16px;
}

.course-flex-item-content {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}

.course-flex-item-price {
  display: flex;
  width: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.instructor-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

div.instructor-item {
  display: flex;
  flex-flow: row nowrap;
  min-width: 300px;
  height: 112px;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: 16px;
  cursor: pointer;
}

.img-thumbnail-small {
  width: 72px;
  height: 72px;
  border-radius: 36px;
}

.mat-card {
  background-color: white;
  margin: 8px;
}

.mat-icon {
  font-size: 1rem;
}

.mat-card-title {
  font-size: 1.1rem;
}

.mat-card-content {
  color: black;
  margin-top: -28px;
}

.mat-card-subtitle {
  color: gray;
  font-size: 0.8rem;
}
