.flex-item {
  width: 204px;
  height: 272px;
  border-radius: 4px;
  margin: 12px;
}

.course-flex-container {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: normal;

  padding: 0;
  margin: 0 12px 0 12px;
  list-style: none;
}

.course-flex-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  /*height: 148px;*/
  height: 15vh;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 16px;
}

.course-flex-item-content {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}

.course-flex-item-price {
  display: flex;
  width: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-card {
  background-color: white;
  margin: 8px;
}

.mat-icon {
  font-size: 1rem;
}

.mat-card-title {
  font-size: 1.1rem;
}

.mat-card-content {
  color: black;
  margin-top: -28px;
}

.mat-card-subtitle {
  color: gray;
  font-size: 0.8rem;
}

.titleTextArea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
}
