<div class="container">
  <div class="mat-card-title" style="margin: 24px">COURSES
    <span style="float: right;"><button mat-flat-button color="primary" (click)="create()"><mat-icon>add</mat-icon> CREATE COURSE</button></span></div>
  <div class="mat-elevation-z8" style="margin: 24px">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
      </ng-container>

      <!-- _ID Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> _ID </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element" style="cursor: pointer" (click)="showLectures(element)"> {{element.title}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="instructor">
        <th mat-header-cell *matHeaderCellDef> Instructor <span style="margin-left: 2rem"><button mat-icon-button (click)="addInstructor()"><mat-icon>person_add</mat-icon></button></span> </th>
        <td mat-cell *matCellDef="let element">
          <form [formGroup]="ngForm" *ngIf="(instructors$ | async) as instructors">
            <mat-form-field>
              <mat-select formControlName="instructor" (selectionChange)="onSelectChange($event, element)">
                <mat-option *ngFor="let instructor of instructors" [value]="instructor._id">{{ instructor.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </td>
      </ng-container>

      <ng-container matColumnDef="isPublished">
        <th mat-header-cell *matHeaderCellDef> isPublished </th>
        <td mat-cell *matCellDef="let element; let idx = index" style="cursor: pointer">
          <mat-slide-toggle color="primary" [checked]="element.isPublished" (change)="onToggle($event, idx)"></mat-slide-toggle>
        </td>
      </ng-container>
      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let element">
          <span><button mat-icon-button color="primary" matTooltip="Edit" (click)="edit(element)"><mat-icon>edit</mat-icon></button></span>
          <span><button mat-icon-button color="warn" matTooltip="Upload photo" (click)="uploadPhoto(element)"><mat-icon>add_photo_alternate</mat-icon></button></span>
          <span style="margin-left: 32px"><button mat-icon-button color="warn" matTooltip="Delete" (click)="delete(element)"><mat-icon>delete</mat-icon></button></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
