<!--Top categories-->
<div>
  <div fxFlex="5"></div>
  <div fxFlex="90">
    <div style="font-size: 1.5rem; color: darkslategrey; font-weight: 500; margin: 32px 0 0 16px">Top Categories</div>
    <div>
      <ul class="flex-container" fxLayoutAlign="center center">
        <li class="flex-item" style="cursor: pointer" *ngFor="let category of (categories$ | async); let i = index" (click)="onClick(category)">
          <img style="width: 100%" src="{{ base_url+category.photo }}" alt="{{ category.title }}">
          <div style="margin: -8px 8px 0 8px">
            <div><p class="mat-card-title" style="font-size: 1.1rem; font-weight: 500; color: #1E1E1C">{{ category.title.substring(0, 28) }}</p></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div fxFlex="5"></div>
</div>
