<!--Top categories-->
<div class="mat-display-1" style="color: darkslategrey; font-weight: 500; margin-top: 32px; margin-left: 24px">Top Categories</div>
<div>
  <div>
    <mat-grid-list cols="4" rowHeight="3:4" gutterSize="16px">
      <mat-grid-tile *ngFor="let category of categories; let i = index">
        <div class="card-container">
          <mat-card class="example-card" (click)="onClick(category)">
            <img mat-card-image src="{{ base_url+category.photo }}" alt="{{ category.title }}">
            <mat-card-content>
              <div fxFlex fxLayout="column">
                <div><p class="mat-card-title">{{ category.title.substring(0, 28) }}</p></div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
