.feature-container {
  display: flex;
  flex-flow: row nowrap;
}

.item-container {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.flex-item {
  width: 244px;
  height: 272px;
  border-radius: 4px;
  margin-right: 16px;
}

.mat-card {
  background-color: white;
  margin: 8px;
}

.mat-icon {
  font-size: 1rem;
}

.mat-card-title {
  font-size: 1.1rem;
}

.mat-card-content {
  color: black;
  margin-top: -28px;
}

.mat-card-subtitle {
  color: gray;
  font-size: 0.8rem;
}

.mat-tab-link {
  color: #1E1E1C;
  font-weight: 500;
}
