<div style="overflow: hidden;">
  <div>
    <ng-container *ngIf="chapter">
      <iframe *ngIf="getFileExt(chapter) !== 'mp4'" [src]="videoUrl" width="100%" height="400px" frameborder="0" allowfullscreen style="padding: 16px; background-color: white"></iframe>
      <video *ngIf="getFileExt(chapter) === 'mp4'" [src]="videoUrl" width="100%" height="400px" style=" background-color: #1E1E1C" controls></video>
    </ng-container>
  </div>
  <div>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header style="background-color: #1E1E1C">
          <mat-panel-title style="font-size: 1.25rem; font-weight: 500; color: white">
            Sample videos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-nav-list>
            <mat-list-item [routerLinkActive]="['active']" *ngFor="let chapter of chapters; let idx = index" (click)="onClickChapter(chapter, idx)" [class.active]="selected == idx">{{ chapter.title }}
              <span style="float: right" *ngIf="chapter">
                  <ng-container *ngIf="chapter.duration > 0" >{{ chapter.duration | number }} min</ng-container>
                </span>
            </mat-list-item>
          </mat-nav-list>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
