<div class="container" fxLayout="column">
  <div style="background-color: #1E1E1C; height: 140px" fxLayout="row">
    <div fxFlex="20"></div>
    <div style="font-size: 2.5rem; font-weight: 500; color: white" fxFlex="60" fxLayoutAlign="left center">Shopping Cart</div>
    <div fxFlex="20"></div>
  </div>
  <div>
    <div fxFlex="20"></div>
    <div fxFlex="60" style="margin-top: 32px">
      <div fxFlex="75" style="color: #1E1E1C">
        <div class="mat-card-title">{{ courses?.length }} course in cart</div>
        <div style="margin: 16px">
          <ng-template [ngIf]="courses?.length > 0" [ngIfElse]="cartEmpty">
            <mat-grid-list cols="1" rowHeight="6:1" gutterSize="1px">
              <mat-grid-tile *ngFor="let course of courses; let i = index" style="border: 1px solid lightgray;">
                <div fxFlex fxLayout="row" style="margin-top: 16px" fxLayoutAlign="center center" fxLayoutGap="16px">
                  <div fxFlex="15"><img mat-card-image src="{{ base_url+course.courseId.photo }}" alt="" style="width: 8vw;"></div>
                  <div fxFlex="65" style="padding: 0 16px 0 16px">
                    <div class="mat-title">{{ course.courseId.title }}</div>
                    <div class="mat-card-subtitle" style="color: darkslategray">{{ course.courseId.description }}</div>
                  </div>
                  <div fxFlex="10"><span style="font-weight: bold; color: red">$ {{ getDiscountedPrice(course) | number }}</span><br/><span style="text-decoration: line-through; color: gray; font-style: italic">$ {{ getPrice(course) }}</span></div>
                  <div fxFlex="10"><button mat-icon-button (click)="removeCourse(i)"><mat-icon>delete</mat-icon></button></div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </ng-template>
          <ng-template #cartEmpty>
            <div fxLayout="column" fxLayoutAlign="center center">
              <div style="height: 48px; font-size: 2rem; color: darkslategray">Cart is empty</div>
              <div><button mat-raised-button color="primary" [routerLink]="['']">Find course</button></div>
            </div>
          </ng-template>
        </div>
      </div>
      <div fxFlex="25" style="color: black; border-radius: 6px">
        <div style="margin: 16px">
          <div class="mat-title">Total</div>
          <div class="mat-display-1" style="font-weight: 500; color: darkslategray; margin-bottom: 4px">$ {{ remainAmount | number }}</div>
          <div style="text-decoration: line-through; color: darkgray">$ {{ originalPrice | number }}</div>
          <div style="color: #2F302F; margin-bottom: 16px">{{ percentageOff }}% off</div>
          <div><button mat-raised-button color="warn" fxFlex style="height: 40px" (click)="checkoutCart()">Checkout</button></div>
        </div>
      </div>
    </div>
    <div fxFlex="20"></div>
  </div>
  <div>
    <div fxFlex="20"></div>
    <div fxFlex="80" class="mat-card-header" style="color: darkslategray; font-size: 1.25rem"><div>You make also like</div></div>
    <div fxFlex="20"></div>
  </div>
</div>
