<div class="container" fxLayout="column">
  <div style="background-color: #1E1E1C; height: 140px" fxLayout="row">
    <div style="font-size: 2.5rem; font-weight: 500; margin-left: 16px; color: white" fxLayoutAlign="left center">Shopping Cart</div>
  </div>
  <div>
    <div fxFlex="70" style="color: #162A2D; margin: 16px">
      <div class="mat-card-title">{{ courses?.length }} course in cart</div>
      <div>
        <ul class="flex-container">
          <li class="course-flex-item" style="cursor: pointer" *ngFor="let course of courses; let i = index">
            <div fxFlex="15" fxLayoutAlign="center left"><img width="100%" mat-card-image src="{{ base_url+course.courseId.photo }}" alt="{{ course.title }}"></div>
            <div fxFlex="65" fxLayout="column" fxLayoutAlign="center left" fxLayoutGap="8px" style="margin: 12px">
              <textarea class="titleTextArea" readonly disabled rows="1" style="font-size: 1.25rem; font-weight: 500; color: darkslategray">{{ course.courseId.title }}</textarea>
              <textarea class="titleTextArea" readonly disabled rows="2" style="font-size: 0.9rem;">{{ course.courseId.description }}</textarea>
            </div>
            <div fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
              <div style="font-weight: bold; color: red">${{ getDiscountedPrice(course) | number: '1.0-2' }}</div>
              <div>
                <span style="text-decoration: line-through; color: gray; font-style: italic">${{ course.courseId.tuition | number: '1.0-2'  }}</span>
              </div>
            </div>
            <div fxFlex="10" fxLayoutAlign="center center"><button mat-icon-button (click)="removeCourse(i)"><mat-icon>delete</mat-icon></button></div>
          </li>
        </ul>
      </div>
    </div>
    <div fxFlex="30" style="color: black; border-radius: 6px">
      <div style="margin: 16px">
        <div class="mat-title">Total</div>
        <div class="mat-display-1" style="font-weight: 500; color: darkslategray; margin-bottom: 4px">$ {{ salePrice | number: '1.0-1' }}</div>
        <div style="text-decoration: line-through; color: darkgray">$ {{ totalPrice | number: '1.0-1' }}</div>
        <div style="color: #2F302F; margin-bottom: 16px">{{ getPercentageOff() | number: '1.0-1' }}% off</div>
        <div><button mat-raised-button color="warn" fxFlex style="height: 40px" (click)="checkoutCart()">Checkout</button></div>
      </div>
    </div>
  </div>
  <div class="mat-card-header" style="color: darkslategray; font-size: 1.25rem; margin-left: 16px"><div>You make also like</div></div>
</div>
