<div class="container" fxLayout="column">
  <div style="background-color: #1E1E1C; height: 140px" fxLayout="row">
    <div fxFlex="20"></div>
    <div style="font-size: 2.5rem; font-weight: 500" fxFlex="60" fxLayoutAlign="left center">Shopping Cart</div>
    <div fxFlex="20"></div>
  </div>
  <div>
    <div fxFlex="20"></div>
    <div fxFlex="60" style="margin-top: 32px">
      <div fxFlex="75" style="color: black">
        <div class="mat-card-title">1 course in cart</div>
        <div style="margin: 16px">
          <mat-grid-list cols="1" rowHeight="6:1">
            <mat-grid-tile>
              <div fxFlex fxLayout="row" style="border-bottom: 1px solid lightgray">
                <div fxFlex="20"><img mat-card-image src="http://localhost:3000/uploads/courses/photo_5d725cfec4ded7bcb480eaa7.jpg" alt="" style="width: 10vw"></div>
                <div fxFlex="70" style="margin: -8px 0 0 32px">
                  <div class="mat-title">Title</div>
                  <div class="mat-card-subtitle">Description</div>
                </div>
                <div fxFlex="10">$9.99<br/><span style="text-decoration: line-through; color: red">$99.99</span></div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <div fxFlex="25" style="color: black; border: 1px solid lightgray; border-radius: 6px">
        <div style="margin: 16px">
          <div class="mat-title">Total</div>
          <div class="mat-display-1" style="font-weight: 500; color: darkslategray; margin-bottom: 4px">$19.99</div>
          <div style="text-decoration: line-through; color: darkgray">$114.99</div>
          <div style="color: #2F302F; margin-bottom: 16px">83% off</div>
          <div><button mat-raised-button color="warn" fxFlex style="height: 40px">Checkout</button></div>
        </div>
      </div>
    </div>
    <div fxFlex="20"></div>
  </div>
  <div>
    <div fxFlex="20"></div>
    <div fxFlex="80" class="mat-card-header" style="color: darkslategray; font-size: 1.25rem"><div>You make also like</div></div>
    <div fxFlex="20"></div>
  </div>
</div>
