<div class="toolbar-container" *ngIf="!isPlayer">
    <div class="menu-items">
      <div class="left-items">
        <h2 class="logo" (click)="home()">TutorHub</h2>
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <div class="searchBar">
          <form action="#">
            <input matInput placeholder="search for anything" class="search-input" #searchText (keydown.enter)="processSearch(searchText.value)">
            <button mat-icon-button class="close" *ngIf="searchText.value !== ''" (click)="clearText()">
              <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button class="close" *ngIf="searchText.value === ''">
              <mat-icon>search</mat-icon>
            </button>
          </form>
        </div>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item [routerLink]="['/user/profile']">My Profile</button>
          <button mat-menu-item [routerLink]="['/home/my-courses/learning']">My Learning</button>
          <button mat-menu-item (click)="sendFeedback()">Send Feedback</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </div>
      <div class="right-items">
        <button mat-icon-button style="transform: scale(1); background-size: cover; background-image: url('{{photoURL}}')" [matMenuTriggerFor]="profileMenu" *ngIf="authStore.isLoggedIn$ | async"></button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item [routerLink]="['/user/profile']">My Profile</button>
          <button mat-menu-item [routerLink]="['/home/my-courses/learning']">My Learning</button>
          <button mat-menu-item (click)="sendFeedback()">Send Feedback</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
        <button mat-button [routerLink]="['/login']" *ngIf="!(authStore.isLoggedIn$ | async)">Log in</button>
        <button mat-button [routerLink]="['/signup']" *ngIf="!(authStore.isLoggedIn$ | async)">Sign up</button>
        <button mat-icon-button matBadge="{{ user?.cart.length || 0 }}" matBadgeSize="medium" matBadgePosition="before" matBadgeColor="warn" (click)="onClickCart()" *ngIf="authStore.isLoggedIn$">
          <mat-icon>shopping_cart</mat-icon></button>
        <ng-container *ngIf="user?.role === 'admin'">
          <button mat-button [routerLink]="['admin']">Admin</button>
        </ng-container>
      </div>
    </div>
</div>
<mat-menu #menu="matMenu">
  <button *ngFor="let category of (categories$ | async)" mat-menu-item (click)="onClickMenu(category)">{{ category.title }}</button>
</mat-menu>
