<mat-toolbar color="accent" *ngIf="!isPlayer">
  <div fxFill fxLayout="row" fxLayoutAlign="center center">
    <h1 class="example-app-name" routerLink="" style="cursor: pointer; color: #673AB7; font-size: 1.5rem; font-weight: 600">TutorHub</h1>
    <button mat-button [matMenuTriggerFor]="menu">Categories</button>
    <div>
      <form action="#">
        <input matInput placeholder="search for anything" class="search-input" #searchText (keydown.enter)="processSearch(searchText.value)">
        <button mat-icon-button class="close" *ngIf="searchText.value !== ''" (click)="clearText()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button class="close" *ngIf="searchText.value === ''">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
    <div fxFlex fxLayoutAlign="flex-end" fxLayoutGap="12px" style="margin-right: 8px">
      <button mat-icon-button color="primary" matBadge="{{ user?.cart.length || 0 }}" matBadgeSize="medium" matBadgePosition="before" matBadgeColor="warn" (click)="onClickCart()"><mat-icon>shopping_cart</mat-icon></button>
      <button mat-button style="border: 1px solid #0F7C90; color: #0F7C90; font-weight: bold" [routerLink]="['/login']" *ngIf="!isAuth">Login</button>
      <button mat-raised-button color="primary" [routerLink]="['/signup']" *ngIf="!isAuth">Sign up</button>
      <div *ngIf="isAuth">
        <button mat-icon-button style="transform: scale(1.5);" [matMenuTriggerFor]="profileMenu" *ngIf="this.user.photoURL.length === 0"><mat-icon>account_circle</mat-icon></button>
        <button mat-icon-button style="background-image: url({{this.user.photoURL}}); background-size: cover" [matMenuTriggerFor]="profileMenu" *ngIf="this.user.photoURL.length !== 0"></button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item [routerLink]="['/user/profile']">My Profile</button>
          <button mat-menu-item [routerLink]="['/home/my-courses/learning']">My Learning</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button *ngFor="let category of categories" mat-menu-item (click)="onClickMenu(category)">{{ category.title }}</button>
</mat-menu>
