<div class="container">
  <div class="mat-card-title" style="margin: 24px">{{ lecture?.title }}
    <span style="float: right;"><button mat-flat-button color="primary" (click)="create()"><mat-icon>add</mat-icon> CREATE CHAPTER</button></span>
    <span style="float: right; margin-right: 16px"><button mat-flat-button color="warn" (click)="updateDuration()"><mat-icon>timelapse</mat-icon> UPDATE DURATION</button></span>
  </div>
  <div class="mat-elevation-z8" style="margin: 24px">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="No.">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="_Id">
        <th mat-header-cell *matHeaderCellDef> _ID </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Duration Column -->
      <ng-container matColumnDef="Duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let element"> {{ formatTime(element.duration) }} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let element">
          <span><button mat-icon-button color="primary" matTooltip="Edit" (click)="edit(element)"><mat-icon>edit</mat-icon></button></span>
          <span><button mat-icon-button color="warn" matTooltip="Upload file" (click)="uploadFile(element, 'file')"><mat-icon>attach_file</mat-icon></button></span>
          <span><button mat-icon-button color="primary" matTooltip="ZIP file" (click)="uploadFile(element, 'zip')"><mat-icon>file_upload</mat-icon></button></span>
          <span style="margin-left: 32px"><button mat-icon-button color="warn" matTooltip="Delete" (click)="delete(element)"><mat-icon>delete</mat-icon></button></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[30, 50, 75]" showFirstLastButtons></mat-paginator>
  </div>
</div>
