<div fxFlex fxLayout="row">
  <div fxFlex="35"></div>
  <div fxFlex="30" style="margin-top: 32px">
    <div fxFlex fxLayout="column" fxLayoutAlign="top center">
      <div>
        <mat-label class="continue-label">To continue, please sign up with</mat-label>
      </div>
      <div fxLayoutGap="12px" fxLayout="column" style="margin-top: 16px">
        <div><button mat-raised-button color="primary" class="fb-button" (click)="onFbRegister()"><mat-icon>facebook</mat-icon>   REGISTER WITH FACEBOOK</button></div>
        <div><button mat-raised-button color="warn" class="fb-button" (click)="onGmailRegister()"><mat-icon style="font-weight: bold; font-family: Arial">G</mat-icon>  REGISTER WITH GOOGLE</button></div>
      </div>
      <div style="margin-top: 16px">
        <mat-label STYLE="font-size: 0.75rem">OR</mat-label>
      </div>
      <div style="color: darkslategrey; font-weight: 500;margin-top: 16px; width: 330px">Sign Up and Start Learning!</div>
      <mat-divider style="background-color: lightseagreen; width: 330px; margin-top: 8px"></mat-divider>
      <form [formGroup]="signupForm" (ngSubmit)="onRegister()" style="width: 330px">
        <mat-form-field appearance="standard">
          <mat-label>Full name</mat-label>
          <input matInput placeholder="Full name" formControlName="name">
          <mat-error>name must be at least 3 characters</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Your email</mat-label>
          <input matInput placeholder="Your email" formControlName="email" required>
          <mat-error>Invalid or missing email.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Your password</mat-label>
          <input matInput type="password" placeholder="Your password" autocomplete="on" formControlName="password" required>
          <mat-error>Missing password.</mat-error>
        </mat-form-field>
        <div style="text-align: center"><button mat-flat-button color="primary" style="width: 165px; height: 44px" [disabled]="signupForm.invalid">Sign Up</button></div>
      </form>
    </div>
  </div>
  <div fxFlex="35"></div>
</div>
