.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

::ng-deep.mat-error .mat-warn {
  color: red;
}

::ng-deep.mat-form-field-label {
  color: darkgray !important;
}

::ng-deep .mat-focused {
  /*change color of label*/
  color: darkgray !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #1DB954 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #1DB954 !important;;
}

.mat-input-element {
  color: darkslategray;
}

.mat-flat-button:disabled {
  background-color: dimgray;
}

.fb-button {
  width: 224px;
  height: 40px;
  border-radius: 20px;
}
