<div fxLayout="column">
  <!--Tabs-->
  <div fxFlex fxLayout="row">
    <div fxFlex="15"></div>
    <div fxFlex="70" fxLayoutAlign="center">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let category of categories; let i = index"
           (click)="onClickTab(i)" [active]="activeLink == categories[i]">{{ category.title }}
        </a>
      </nav>
      <div fxFlex="15"></div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="height: 340px">
    <div fxFlex="5">
      <div><button mat-icon-button color="primary" style="transform: scale(1.5); background-color: #F1F1EE" (click)="back()"><mat-icon>arrow_back_ios</mat-icon></button></div>
    </div>
    <div fxFlex="90">
      <div>
        <ul class="flex-container">
          <li class="flex-item" style="cursor: pointer" *ngFor="let course of (courses$ | async) | slice:0:counter" (click)="onClick(course)">
            <img style="width: 100%" src="{{ base_url+course.photo }}" alt="{{ course.title }}">
            <div style="margin: -8px 8px 0 8px">
              <div fxLayout="column" fxLayoutGap="-10px">
                <div><p class="mat-card-title" style="font-size: 1.1rem; font-weight: 500; color: #1E1E1C">{{ course.title.substring(0, 28) }}</p></div>
                <!--              <div><p class="mat-card-subtitle">{{ course.user.name }}</p></div>-->
                <div><p style="font-size: 0.9rem; font-weight: 400; color: darkslategray">{{ course.description.substring(0, 54) }}</p></div>
                <div style="font-size: 1rem; font-weight: 500; color: #1E1E1C">${{ getCoursePrice(course) | number }}
                  <span style="text-decoration: line-through; color: darkred; float: right; font-weight: 400">${{ course.tuition | number }}</span></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div fxFlex="5">
      <div><button mat-icon-button color="primary" style="transform: scale(1.5); background-color: #F1F1EE" (click)="next()"><mat-icon>arrow_forward_ios</mat-icon></button></div>
    </div>
  </div>
</div>
