<div class="example-container">
  <app-header></app-header>
  <app-message></app-message>
  <app-loading></app-loading>
  <div fxFlex fxLayout="column">
    <!--  Content-->
    <ng-container>
      <div fxFlex fxLayout="row">
        <div *ngIf="!isPlayer" fxFlex="15" style="background-color: #FBFBF8" class="leftBar"></div>
        <div fxFlex="{{ !isPlayer ? 70 : 100 }}">
          <router-outlet></router-outlet>
        </div>
        <div *ngIf="!isPlayer" fxFlex="15" style="background-color: #FBFBF8" class="rightBar"></div>
      </div>
    </ng-container>
  </div>
  <app-footer></app-footer>
</div>
