<div fxLayout="column">
  <div class="banner-container">
    <div class="left-bar"></div>
    <div class="content">
      <div class="header-container">
        <div class="header-content">
          <textarea class="titleTextArea" rows="2" readonly disabled style="font-size: 2rem; font-weight: 500; margin-top: 16px">{{ course?.title }}</textarea>
          <textarea class="titleTextArea" rows="3" readonly disabled style="font-size: 0.9rem; color: lightgray;">{{ course?.description }}</textarea>
          <mat-label style="color: lightgray; font-size: 0.9rem; margin-top: 16px; font-style: italic;">Instructor: <span style="color: white">{{ course?.instructor }}</span></mat-label>
          <div *ngIf="width === 0" style="margin-top: 16px">
            <div><span style="font-size: 1.5rem; font-weight: 500; color: white">${{ getSalePrice(course) | number: '1.0-2' }}</span><span style="text-decoration: line-through; margin-left: 12px; color: lightgray">${{ course.tuition | number: '1.0-2'}}</span><span style="margin-left: 12px; font-weight: 500; color: lightgray">{{ course.coupon.discount | number }}% off</span>
              <span style="float: right; margin-right: 16px"><button mat-button (click)="addToCart(course)" style="color: white"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button></span>
            </div>
          </div>
          <div>
            <button mat-icon-button color="warn" style="transform: scale(1.2)" (click)="addToWishlist(course)">
              <mat-icon *ngIf="!isWishlist">favorite_border</mat-icon>
              <mat-icon *ngIf="isWishlist" color="accent">favorite</mat-icon>
            </button>
            <button mat-icon-button style="transform: scale(1.2); color: #03A9F4" (click)="share()" matTooltip="Share to facebook"><mat-icon>share</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-bar"></div>
  </div>
  <div class="course-container">
    <div class="left-bar"></div>
    <div class="content">
      <div fxLayout="row">
        <div class="left-content">
          <div class="title-heading">What you will learn:</div>
          <mat-grid-list cols="2" rowHeight="52px">
            <mat-grid-tile *ngFor="let item of objectives">
              <mat-icon>done</mat-icon><textarea class="objTextArea" rows="2" readonly disabled>{{ item }}</textarea>
            </mat-grid-tile>
          </mat-grid-list>
          <div style="margin-top: 16px">
            <div>
              <mat-accordion multi>
                <mat-expansion-panel disabled>
                  <mat-expansion-panel-header style="background-color: transparent">
                    <mat-panel-title>
                      <p class="mat-card-title" style="color: darkslategray">Course content</p>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
                <mat-expansion-panel *ngFor="let lecture of chaptersArray; let i = index">
                  <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: 500">
                      {{ lecture.title }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent *ngIf="lecture.chapters">
                    <mat-nav-list>
                      <mat-list-item [routerLinkActive]="['active']" *ngFor="let chapter of lecture.chapters; let idx = index" [class.active]="selected == idx">{{ chapter.title }}
                        <span style="float: right" *ngIf="chapter">
                  <ng-container *ngIf="getFileExt(chapter) === 'mp4' && chapter.duration > 0" >{{ chapter.duration | number }} min</ng-container>
                  <ng-container *ngIf="chapter.zip.length > 0"><button mat-icon-button style="color: gray"><mat-icon>attach_file</mat-icon></button></ng-container>
                  <ng-container *ngIf="getFileExt(chapter) === 'tml' || getFileExt(chapter) === 'pdf'"><button mat-icon-button style="color:gray"><mat-icon>description</mat-icon></button></ng-container>
                </span>
                      </mat-list-item>
                    </mat-nav-list>
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <h3 class="title-heading">Description</h3>
          <ng-container *ngIf="!seeMore; else seeLess">
            <textarea readonly disabled rows="6" style="padding-top: 16px" class="objTextArea">{{ course?.description }}</textarea>
            <button mat-flat-button style="font-weight: lighter; background-color: #FBFBF8; color: purple" (click)="toggle()"><mat-icon>expand_more</mat-icon> See more</button>
          </ng-container>
          <ng-template #seeLess>
            <textarea *ngIf="seeMore" class="objTextArea" cdkTextareaAutosize readonly disabled style="padding-top: 16px">{{ course?.description }}</textarea>
            <button mat-flat-button style="font-weight: lighter; background-color: #FBFBF8; color: purple" (click)="toggle()"><mat-icon>expand_less</mat-icon> See less</button>
          </ng-template>
        </div>
        <div *ngIf="width > 0" fxFlex="{{ width }}" style="background-color: white; color: darkslategray; margin: 16px; border-radius: 4px" fxLayout="column">
          <div style="background-color: #1E1E1C; width: 100%; border-radius: 4px; cursor: pointer" class="container" (click)="preview()">
            <img [src]="base_url+course?.photo" alt="{{course?.title}}" width="100%" height="190px" style="opacity: 0.75">
            <div class="preview"><mat-icon style="transform: scale(3); color: white">{{ play }}</mat-icon></div>
          </div>
          <div class="course-summary" *ngIf="course">
            <div style="font-size: 2rem; font-weight: 500; color: #673AB7; margin: 16px 0 0 0">${{ getSalePrice(course) | number: '1.0-2' }}
              <span style="font-size: 1rem; text-decoration: line-through; margin-left: 12px; color: darkslategray">${{ course.tuition | number: '1.0-2'}}</span>
              <span style="font-size: 1rem; margin-left: 12px; color: darkred">{{ course.coupon.discount | number }}% off</span>
            </div>
            <div class="course-summary-item"><button mat-raised-button color="warn" fxFlex style="height: 40px" (click)="addToCart(course)" *ngIf="!(isPurchased$ | async) && getSalePrice(course) > 0">Add to cart</button></div>
            <div class="course-summary-item"><button mat-raised-button color="primary" fxFlex style="height: 40px;" (click)="buyNow(course)" *ngIf="!(isPurchased$ | async) && getSalePrice(course) > 0">Buy now</button></div>
            <div class="course-summary-item"><button  mat-raised-button color="accent" fxFlex style="height: 40px; font-size: 1.25rem" (click)="enrollNow(course)" *ngIf="!(isPurchased$ | async) && getSalePrice(course) === 0">Start Course For Free</button></div>
            <div class="course-summary-item"><label *ngIf="isPurchased$ | async" style="font-size: 1rem">You've already purchased this course!</label></div>
            <div class="course-summary-item"><button mat-raised-button color="primary" fxFlex style="height: 40px;" (click)="goToCourse(course)" *ngIf="isPurchased$ | async">Go to course</button></div>
            <div style="margin-top: -48px"><p style="font-size: 1.25rem; font-weight: 500">This course includes: </p></div>
            <mat-list style="margin-top: -24px">
              <mat-list-item>
                <mat-icon>description</mat-icon><span style="margin-left: 8px; font-size: 0.9rem">{{ chaptersArray.length | number }} Sections</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon>smart_display</mat-icon><span style="margin-left: 8px; font-size: 0.9rem">{{ chapterCounter | number }} Lessons</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon>code</mat-icon><span style="margin-left: 8px; font-size: 0.9rem">{{ (downloadableCounter + zipCounter) | number }} downloadable resources</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
    <div class="right-bar"></div>
  </div>
</div>
