<ng-template [ngIf]="!isPurchased" [ngIfElse]="playerController">
  <div fxLayout="column" style="overflow-x: hidden">
    <mat-toolbar-row>
      <div fxFlex fxLayout="row">
        <div fxFlex="20"></div>
        <div class="course-summary" fxFlex="40" style="color:white">
          <div class="mat-display-1" style="margin-top: 48px; font-weight: 600">{{ course?.title }}</div>
          <div class="mat-card-subtitle" style="font-size: 1rem; font-weight: 300; color: lightgray; width: 200px">{{ course?.description.substring(0, 164) }}
            <br><span *ngIf="course?.description.length > 165">{{ course?.description.substring(164, course?.description.length) }}</span></div>
          <div fxLayout="row" class="course-highlight" fxLayoutGap="16px">
            <div><button mat-stroked-button color="accent" style="border: 1px solid #FFD740; width: 80px">Bestseller</button></div>
            <div>4.8</div>
            <div>
              <span><mat-icon color="accent">start</mat-icon></span>
              <span><mat-icon color="accent">start</mat-icon></span>
              <span><mat-icon color="accent">start</mat-icon></span>
              <span><mat-icon color="accent">start</mat-icon></span>
              <span><mat-icon color="accent">start</mat-icon></span>
            </div>
<!--            <div>(363,357 ratings) 1,290,367 students</div>-->
          </div>
          <div>Created by: Jose Portilia</div>
          <div fxLayoutGap="16px" class="course-action">
            <button mat-raised-button color="warn">Wishlist</button>
            <button mat-raised-button color="accent">Share</button>
<!--            <button mat-raised-button color="primary">Enroll</button>-->
          </div>
        </div>
        <div fxFlex="20"></div>
      </div>
    </mat-toolbar-row>
    <div fxLayout="row">
      <div fxFlex="20"></div>
      <div fxFlex="40">
        <div style="background-color: #FBFBF8; height: 320px; color: darkslategray">
          <div style="padding: 16px; font-weight: 500; font-size: 1.5rem">What you will learn:</div>
          <div style="margin-top: -16px">
            <mat-grid-list cols="2" rowHeight="48px">
              <mat-grid-tile *ngFor="let item of objectives">
                <div fxFlex fxLayoutAlign="left center"><span style="margin-left: 8px"><mat-icon>done</mat-icon></span><span style="margin: 0 8px 0 8px; font-size: 0.9rem">{{ item }}</span></div>
              </mat-grid-tile>
            </mat-grid-list>
            <div style="margin-top: 16px"><button mat-button>Show more<mat-icon>expand_more</mat-icon></button></div>
          </div>
        </div>
        <div class="mat-display-1" style="color: darkslategrey; font-weight: 500;">Course Content</div>
        <div>
          <mat-accordion>
            <mat-expansion-panel disabled>
              <mat-expansion-panel-header style="background-color: #B0BEC5">
                <mat-panel-title>
                  <p style="color: #2F302F; font-weight: 500">{{ lectures?.length }} sections • {{ chapters?.length }} lectures • 4h 37m total length</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" *ngFor="let lecture of lectures; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title (click)="onClickLecture(lecture)">
                  {{ lecture.title }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let chapter of chapters; let i = index">
                <div style="cursor: pointer;" (click)="onClickChapter(chapter)"><p>{{ chapter.title }}</p></div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div fxFlex="20" style="background-color: white; color: darkslategray; margin-top: 16px; border-radius: 4px" fxLayout="column">
        <div style="background-color: #1E1E1C; border-radius: 4px">
          <iframe class="e2e-iframe-trusted-src" [src]="videoUrl" width="100%" height="190px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div style="margin: 32px">
          <div><span class="mat-display-1" style="font-weight: 600">${{ course?.tuition | number }}</span><span style="text-decoration: line-through; margin-left: 12px">$99.99</span><span style="margin-left: 12px">89% off</span></div>
          <div><button mat-raised-button color="warn" fxFlex style="height: 40px" (click)="addToCart(course)">Add to cart</button></div>
          <div><button mat-raised-button color="primary" fxFlex style="height: 40px;" (click)="buyNow(course)">Buy now</button></div>
          <div><p>This course includes: </p></div>
          <div>
            <mat-list role="list">
              <mat-list-item role="listitem" style="color: black">
                <mat-icon>description</mat-icon><span class="mat-card-subtitle" style="color: black; margin-left: 8px">{{ lectures?.length }} Sections</span>
              </mat-list-item>
              <mat-list-item role="listitem" style="color: black">
                <mat-icon>smart_display</mat-icon><span class="mat-card-subtitle" style="color: black; margin-left: 8px">{{ chapters?.length }} chapters</span>
              </mat-list-item>
              <mat-list-item role="listitem" style="color: black">
                <mat-icon>code</mat-icon><span class="mat-card-subtitle" style="color: black; margin-left: 8px">19 coding exercises</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
      <div fxFlex="20"></div>
    </div>
  </div>
</ng-template>
<ng-template #playerController>
  <app-player></app-player>
</ng-template>
