/* You can add global styles to this file, and also import other style files */
/* Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Links */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Logo */
.logo {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

.mat-form-field {
  display: block;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: darkslategrey;
  margin: 16px;
}
