/* You can add global styles to this file, and also import other style files */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------Utility Components------------------ */
:root {
  font-size: 100%;
}

html, body { height: 100%; }
body {
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Paragraphs */
p {
  font-size: 0.9rem;
  margin: 0.125rem 0;
  text-align: justify;
}

textarea {
  line-height: 1.35;
}

/* Icons */
i {
  font-size: 5rem;
}

mat-icon {
  transform: scale(1.1);
}

/* Suprescript elements */
sup {
  font-size: 0.8rem;
}

.container {
  width: 80%;
  margin: 16px auto;
}

::selection {
  color: white;
  background-color: #1877F2;
}

/* ---------------------Main Styling---------------------- */
/* Main Heading */
h1 {
  font-size: calc(12px + 0.85vw);
  font-weight: 600;
  /*letter-spacing: 0.4rem;*/
  color: darkslategrey;
  margin: 16px 0;
}

/* Links */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Logo */
.logo {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

table {
  width: 100%;
}

.titleTextArea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: darkslategray;
  font-size: calc(12px + 0.4vw);
  font-weight: 500;
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.subTitleTextArea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  color: darkslategray;
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.mat-form-field {
  display: block;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.instructor {
  color: darkslategray;
  font-size: 0.9rem;
  cursor: pointer;
}

.instructor:hover {
  color: #8C1BAB;
  font-weight: 500;
}
