<div class="container">
  <div class="title-heading">Search results</div>
  <div>
    <ng-container *ngIf="(courses$ | async) as courses">
      <ul class="course-flex-container">
        <li class="course-flex-item" *ngFor="let course of courses | paginate: { itemsPerPage: 5, currentPage: page }" (click)="onClick(course)">
          <div style="width: 20%"><img height="100%" src="{{ base_url+course.photo }}" alt="{{ course.title }}"></div>
          <div class="course-flex-item-content">
            <textarea class="titleTextArea" readonly disabled rows="1" style="font-size: 1.25rem; font-weight: 500; color: darkslategray">{{ course.title }}</textarea>
            <textarea class="titleTextArea" readonly disabled rows="2" style="font-size: 0.9rem;">{{ course.description }}</textarea>
            <p style="margin-bottom: 0; padding-bottom: 0; font-size: 0.9rem">{{ course.instructor }}</p>
          </div>
          <div class="course-flex-item-price">
            <h3>${{ getSalePrice(course) | number: '1.0-2' }}</h3>
            <p style="text-decoration: line-through; color: red">${{ course.tuition | number: '1.0-2' }}</p>
          </div>
        </li>
      </ul>
      <div class="center" *ngIf="courses.length > 5"><pagination-controls (pageChange)="page = $event"></pagination-controls></div>
    </ng-container>
  </div>
</div>
