<div fxFlex fxLayout="column">
  <!--Tabs-->
  <div fxFlex fxLayout="row">
    <div fxFlex="15"></div>
    <div fxFlex="70" fxLayoutAlign="center">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let category of categories; let i = index"
           (click)="onClick(i)"
           [active]="activeItem == category">{{ category.title }}
        </a>
      </nav>
      <div fxFlex="15"></div>
    </div>
  </div>

  <!--  Content-->
  <div fxFlex fxLayout="row">
    <div fxFlex="15"></div>
    <div fxFlex="70" fxlayoutAlign="center">
      <div style="width: 70vw">
        <app-features></app-features>
        <app-top-categories></app-top-categories>
      </div>
    </div>
    <div fxFlex="15"></div>
  </div>
</div>
