.profile-container {
  display: flex;
  flex-direction: row;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.highlight {
  background-color: dimgray;
  color: white;
  font-weight: 500;
}
